<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Articles{% endblock %}</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
<nav class="bg-white shadow">
    <div class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
            <div>
                <a class="text-gray-800 text-lg font-semibold" href="/">Articles</a>
            </div>
            <div>
                <a class="text-gray-800 text-lg font-semibold" href="/articles/create">Create Article</a>
            </div>
        </div>
    </div>
</nav>
<div class="container mx-auto">
    {% block content %}{% endblock %}
</div>
</body>
</html>
